
{% extends "admin/delete_confirmation.html" %}

{% block content %}
    <p>

	{% if object.userprofile.get_owned_rules %}
	Rules currently associated to the user to be deleted:<br>
	  <ul>
	  {% for route in object.userprofile.get_owned_rules %}
	    <li> route {{ route }} </li>
	  {% endfor %}
	  </ul>

	  <br>
          User available who will be used for adopting/reassigning these rules:
	  {{ object.userprofile.get_related_user__for_adopting_on_user_deletion }}

	{% endif %}

    </p>

    {{ block.super }}
{% endblock %}

